{% extends 'base.html' %}

{% block content %}
<h1>게시글 수정</h1>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_title" class="form-label">제목</label>
        {{ form.title }}
    </div>
    <div class="mb-3">
        <label for="id_content" class="form-label">내용</label>
        <textarea id="id_content" name="content" class="form-control">{{ form.instance.content }}</textarea>
    </div>
    <button type="submit" class="btn btn-success">수정 완료</button>
</form>

<a href="{% url 'post_detail' post.pk %}" class="btn btn-secondary">게시글 보기</a>
{% endblock %}
